<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>GameFront</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="~/Content/assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    @Styles.Render("~/Content/css/styles.css")
    <link href="css/styles.css" rel="stylesheet" />
</head>

@RenderBody()

<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">&copy; Copyright @DateTime.Today.Year - GameFront All Rights Reserved</p></div>
</footer>
<!-- Bootstrap core JS-->
@Scripts.Render("https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js")
<!-- Core theme JS-->
@Scripts.Render("js/scripts.js")

</html>
